@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(222, 222, 205);
}

.btn {
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px;
  border-radius: 6px;
  border: unset;
}

.btn:hover {
  background-color: aliceblue;
}
.body {
  background-color: rgb(222, 222, 205);
}

.header {
  padding: 7vh;
}

.summary {
  margin: 0 5vw 0 5vw;
  font-size: 17px;
  padding-bottom: 14vh;
}
