


.list {
  padding-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.movie {
  padding: 1vw;
  max-width: 20vw;
  box-sizing: border-box;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  overflow-wrap: break-word;
  text-align: center;
  height: 10vh;
  width: 100%;
}

.img {
  max-width: 100%;
  height: auto;
}

.noimg {
  text-decoration: none;
  text-align: center;
}

@media (max-width: 768px) {
  .prompt {
    width: 80vw;
  }

  .movie {
    max-width: 40vw;
  }
}

@media (max-width: 576px) {
  .prompt {
    width: 90vw;
  }

  .movie {
    max-width: 80vw;
  }
}

.tryagain {
  padding: 20px;
}


/* Added styles for hover effect */
.movie:hover .img {
  transform: scale(1.05); /* Scale the image by 5% */
  cursor: pointer;
}

/* Style for the "Watch later" button */
.watch-list-btn {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  color: beige;
  border: none;
  padding: 5px 0;
  font-size: 1rem;
  animation: blink 1s infinite;
  display: none;
  cursor: pointer;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}


.movie:hover .watch-list-btn {
  display: block;
}

.img-container:hover .watch-list-btn {
  display: block;
}